<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="/style.css">
    <script src="/operations.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/css/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.6.0/dist/jquery.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    
    <script>


let layout1 ={
title: {
text:'100 days of forecast',
font: {
family: 'Times New Roman',
size: 24
},
},
}


let layout2 ={
title: {
text:'sub metering 1',
font: {
family: 'Times New Roman',
size: 24
},
},
}

let layout3 ={
title: {
text:'sub metering 2',
font: {
family: 'Times New Roman',
size: 24
},
},
}

let layout4 ={
title: {
text:'sub metering 3',
font: {
family: 'Times New Roman',
size: 24
},
},
}

async function plot1(res)
{
  res=JSON.parse(res)
  x1=res.v1['x']
  y1=res.v1['y']
  
  var trace2 = {
    x: x1,
    y: y1,
    type: 'lines',
    name:'forecast',
  };
  
  var data = [trace2];
  
  Plotly.newPlot('myPlot1', data,layout1);
  return
}

        function fetchForecast()
        {
                $.ajax(
                    {
                        url:'/fetch',
                        method:'POST',
                        contentType:'application/json',
                        success:function(res)
                        {
                            plot1(res)
                            plot2(res)
                            plot3(res)
                            plot4(res)
                        }
                    }
                )
        }

async function plot2(res)
{
  res=JSON.parse(res)
  x1=res.v2['ad']
  y1=res.v2['a1']
  
  var trace2 = {
    x: x1,
    y: y1,
    type: 'bar',
    name:'forecast'
  };
  
  var data = [trace2];
  
  Plotly.newPlot('myPlot3', data,layout2);
  return
}

async function plot3(res)
{
  res=JSON.parse(res)
  x1=res.v2['ad']
  y1=res.v2['a2']
  
  var trace2 = {
    x: x1,
    y: y1,
    type: 'bar',
    name:'forecast'
  };
  
  var data = [trace2];
  
  Plotly.newPlot('myPlot4', data,layout3);
  return
}

async function plot4(res)
{
  res=JSON.parse(res)
  x1=res.v2['ad']
  y1=res.v2['a3']
  
  var trace2 = {
    x: x1,
    y: y1,
    type: 'bar',
    name:'forecast',
  };
  
  var data = [trace2];
  
  Plotly.newPlot('myPlot5', data,layout4);
  return
}
    </script>
</head>
<body onload="fetchForecast()">
  <div class="topnav" id="myTopnav" style="margin-bottom:0px;">
    <a href="/home" class="active">Home</a>
    <a href="/visual">Analysis</a>
    <a href="/supoort">support</a>
    <a href="javascript:void(0);" class="icon" onclick="myFunction()">
      <i class="fa fa-bars"></i>
    </a>
</div>
    <center>  
      <h1>Visualization</h1>
    </center>
    <div class="my-row m-3" style="background-color: rgb(183, 189, 185); border-radius: 8px;text-align: center;overflow-x: hidden;">
        <div class="row m-3"> 
            <div class="col-sm-2">
              <div class="mb-2" id="myPlot" ></div>
            </div>
            <div class="col-sm-8"style="text-align:center" >
              <div class="mb-2" id="myPlot1" ></div>
            </div>
            <div class="col-sm-2" >
                <div class="mb-2" id="myPlot2" ></div>
            </div>
        </div>
    </div>


    <div class="my-row m-3" style="background-color: rgb(183, 189, 185); border-radius: 8px;text-align: center;overflow-x: hidden;">
      <div class="row m-3"> 
          <div class="col-sm-4">
            <div class="mb-2" id="myPlot3" ></div>
          </div>
          <div class="col-sm-4" >
            <div class="mb-2" id="myPlot4" ></div>
          </div>
          <div class="col-sm-4" >
              <div class="mb-2" id="myPlot5" ></div>
          </div>
      </div>
  </div>


</body>
</html>